<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/9dfa6c6e5c.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/polyfill.js}"></script>
    <script th:src="@{/markerclusterer.js}"></script>
    <script async
            th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${gmapsApiKey} + '&libraries=places'"></script>
    <script th:src="@{/maps-common.js}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            let jobPositionBadge = $('.jobPositionBadge');
            jobPositionBadge.each(function (i, obj) {
                $(obj).css({"backgroundColor": getStrokeColorByJobPosition($(obj).text())});
            });
        })

        function showMapModal(element) {
            $('#mapDialog').modal('show');
            let fullName = $(element).data("fullname");
            let role = $(element).data("role");
            let position = $(element).data("position");
            let address = $(element).data("address");
            let longitude = $(element).data("longitude");
            let latitude = $(element).data("latitude");

            var map = new google.maps.Map(document.getElementById('employee-map'), {
                zoom: 15,
                center: {lat: 50.5039, lng: 4.4699}
            });

            const legend = document.createElement("div");
            legend.id = "legend";
            legend.style.cssText = "border-radius: 2px; background: white; padding: 3px; margin: 10px; box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px; diplay:none";
            var div = document.createElement("div");
            div.style.cssText = 'display: flex; align-content: center; align-items: center; padding: 10px;'
            div.innerHTML = '<svg height="22" width="26"> <path style="fill: ' + colors.userColor + ';" d="' + svgMarkerPath + '" /></svg><p> User</p>';
            legend.appendChild(div);
            div = document.createElement("div");
            div.style.cssText = 'display: flex; align-content: center; align-items: center; padding: 10px;'
            div.innerHTML = '<svg height="22" width="26"> <path style="fill: ' + colors.adminColor + ';" d="' + svgMarkerPath + '" /></svg><p> Admin</p>';
            legend.appendChild(div);
            div = document.createElement("div");
            div.style.cssText = 'display: flex; align-content: center; align-items: center; padding: 10px;'
            div.innerHTML = '' +
                '<div style="overflow:hidden; overflow-y:scroll; height:70px; width:100%; list-style-type:none">' +
                '<div style="display: flex"><svg style="margin-top: 3px; margin-right: 5px;" height="5" width="20"><rect width="20" height="5" style="fill:' + colors.colorSenior + ';" /></svg><p style="margin: 0"> SENIOR</p></div>' +
                '<div style="display: flex"><svg style="margin-top: 3px; margin-right: 5px;" height="5" width="20"><rect width="20" height="5" style="fill:' + colors.colorMedior + '" /></svg><p style="margin: 0"> MEDIOR</p></div>' +
                '<div style="display: flex"><svg style="margin-top: 3px; margin-right: 5px;" height="5" width="20"><rect width="20" height="5" style="fill:' + colors.colorJunior + '" /></svg><p style="margin: 0"> JUNIOR</p></div>' +
                '<div style="display: flex"><svg style="margin-top: 3px; margin-right: 5px;" height="5" width="20"><rect width="20" height="5" style="fill:' + colors.colorAdmin + '" /></svg><p style="margin: 0"> HR</p></div>' +
                '<div style="display: flex"><svg style="margin-top: 3px; margin-right: 5px;" height="5" width="20"><rect width="20" height="5" style="fill:' + colors.colorRecruiter + '" /></svg><p style="margin: 0"> RECRUITER</p></div>' +
                '<div style="display: flex"><svg style="margin-top: 3px; margin-right: 5px;" height="5" width="20"><rect width="20" height="5" style="fill:' + colors.colorNone + '" /></svg><p style="margin: 0"> NONE</p></div>' +
                '</div>';
            legend.appendChild(div);

            map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);

            if (longitude !== 0.0 && latitude !== 0.0) {
                var markers = [];
                var latLng = new google.maps.LatLng(latitude, longitude);
                map.setCenter(new google.maps.LatLng(latitude, longitude));


                let fillColor = getFillColorByRole(role);
                let strokeColor = getStrokeColorByJobPosition(position);

                const marker = new google.maps.Marker({
                    position: latLng,
                    icon: getDefaultSvgMarker(fillColor, strokeColor)
                });

                let employeeDescription =
                    '<div style="align-content: center; align-items: center; text-align: center;" id="content">' +
                    '<h4>' + fullName + '</h4>' +
                    '<div id="bodyContent">' +
                    '<p><span style="padding: 3px; border-radius: 3px; font-size: 11.844px; font-weight: bold; line-height: 14px; color: #ffffff; text-shadow: 0 -1px 0 rgb(0 0 0 / 25%); white-space: nowrap; vertical-align: baseline;background-color: '+ getFillColorByRole(role) +'">' + role + '</span> ' +
                    '/ <span style="padding: 3px; border-radius: 3px; font-size: 11.844px; font-weight: bold; line-height: 14px; color: #ffffff; text-shadow: 0 -1px 0 rgb(0 0 0 / 25%); white-space: nowrap; vertical-align: baseline;background-color: '+ getStrokeColorByJobPosition(position) +'">' + position + "</span></p>" +
                    "<p>" + address + "</p>" +
                    "</div>" + "</div>";

                const infoWindow = new google.maps.InfoWindow({
                    content: employeeDescription,
                });

                (function (m, infoWindow) {
                    google.maps.event.addListener(m, 'click', function (evt) {
                        infoWindow.setContent(employeeDescription);
                        infoWindow.open(map, m);

                    })
                })(marker, infoWindow);
                markers.push(marker);

                var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            }
        }

    </script>
    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <title>emp-loc | employees</title>
</head>
<body style="padding: 15px;">
<div class="alert alert-info" role="alert">
    <h2>emp-loc | home</h2>
</div>
<div>

    <div class="card" style="margin-bottom: 15px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">[employees]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               id="navbarDropdown" role="button">
                                Options
                            </a>
                            <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Create</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="card" style="margin-bottom: 15px;">
        <button class="btn btn-success" data-bs-target="#allEmployeesDialog" data-bs-toggle="modal" type="button">
            <svg class="bi bi-map" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"
                      fill-rule="evenodd"></path>
            </svg>
            View all employees on map
        </button>
    </div>
    <div th:if="${employees.isEmpty()}">
        <div style="display: flex; align-content: center; justify-content: center;">
            <div class="alert alert-info" role="alert"
                 style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
                <h3>No employees registered.</h3>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4" th:if="${!employees.isEmpty()}">
        <div class="col" th:each="employee : ${employees}">
            <div class="card">
                <blockquote class="blockquote mb-0 card-body">
                    <h5 class="card-title"><span th:text="${employee.username} + ' '"></span><span class="badge text-dark jobPositionBadge"
                                                                                                   id="jobPositionBadge"
                                                                                                   th:text="${employee.jobPosition}">Warning</span>
                    </h5>
                    <p class="card-text" th:text="${employee.firstName + ' ' + employee.lastName}"></p>
                    <footer class="blockquote-footer">
                        <small class="text-muted" th:text="${employee.email}"></small>
                    </footer>
                    <button class="btn btn-success" onclick="showMapModal(this)"
                            th:data-address="${employee.address}"
                            th:data-fullname="${employee.fullName}"
                            th:data-role="${employee.role}"
                            th:data-position="${employee.jobPosition}"
                            th:data-latitude="${employee.geoLocation == null ? 0.0 : employee.geoLocation.latitude}"
                            th:data-longitude="${employee.geoLocation == null ? 0.0 : employee.geoLocation.longitude}"
                            type="button"><i
                            class="fas fa-map-marker-alt"></i> <span
                            th:text="${employee.address.street + ', ' + employee.address.city + ', ' + employee.address.country}"></span>
                    </button>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="mapDialog" class="modal fade" id="mapDialog" tabindex="-1">
    <div class="modal-dialog" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapDialogTitle">Modal title</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="employee-map" style="width:100%; height: 550px; margin-bottom: 30px;"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="allEmployeesDialogLabel" class="modal fade" id="allEmployeesDialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allEmployeesDialogLabel">Modal title</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>